html {
  overflow-x: hidden;
  font-family: "Poppins", "Open+Sans", "Rubik";
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: darkgrey;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}
.main__header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: black;
  width: 100vw;
  height: 10vh;
}

.main__header__logo {
  background-image: url(../image/logoHeader.jpg);
  border-radius: 15px 15px;
  width: 135px;
  height: 38px;
  display: inline-flex;
  margin-left: 1%;
}
.main__header nav {
  width: 60vw;
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main__header ul {
  width: 60vw;
  height: 5vh;
  display: inline-flex;
  flex-wrap: wrap;
}
.main__header ul li {
  background-color: white;
  margin-right: 5px;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 700;
  display: inline-flex;
}
.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 60vh;
}
.fold {
  display: flex;
  background: url(../image/imagen_fold_inicio3.jpg);
  flex-direction: column;
  background-size: cover;
  align-items: center;
  padding-bottom: 5vh;
  width: 100vw;
  height: 60vh;
}
.fold__titulo {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 30px;
  width: 100vw;
  height: 20vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fold__subtitulo {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: larger;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.fold__boton {
  border: 15px;
  font-size: large;
  background-color: #ffb400;
  border-color: #ffb400;
  font-family: "Rubik";
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}

.serviciosHome {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: 200vh;
  background-color: rgb(249, 244, 244);
  color: black;
}
.serviciosdata {
  width: 90vw;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.serviciosHome__obrasEnYeso {
  width: 90vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}
.obrasEnYeso__titulo h2 {
  font-size: large;
  width: 40vw;
  font-family: "Rubik";
}
.obrasEnYeso__imagen {
  width: 50px;
  height: 50px;
}
.obrasEnYeso__info {
  font-size: 1rem;
  font-family: "Open Sans";
  width: 50vw;
  height: 10vh;
  padding-left: 10%;
}

.serviciosHome__mantenimiento {
  width: 90vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}
.mantenimiento__titulo h2 {
  font-size: large;
  width: 40vw;
  font-family: "Rubik";
}
.mantenimiento__info {
  font-size: 1rem;
  font-family: "Open Sans";
  width: 50vw;
  height: 10vh;
  padding-left: 10%;
}
.serviciosHome__demoliciones {
  width: 90vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}
.demoliciones__titulo {
  font-size: 15px;
  font-family: "Rubik";
}
.demoliciones__info {
  font-size: 1rem;
  font-family: "Open Sans";
  padding-left: 10%;
  width: 50vw;
  height: 10vh;
}
.serviciosHome__albanileria {
  width: 90vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}
.albanileria__titulo {
  font-size: 15px;
  font-family: "Rubik";
}
.albanileria__info {
  font-size: 1rem;
  font-family: "Open Sans";
  width: 50vw;
  height: 10vh;
  padding-left: 10%;
}
.serviciosHome__pintura {
  width: 90vw;
  height: 20vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}
.pintura__titulo {
  font-size: 15px;
  font-family: "Rubik";
}
.pintura__info {
  font-size: 1rem;
  font-family: "Open Sans";
  width: 50vw;
  height: 10vh;
  padding-left: 10%;
}
.serviciosHome__electricidad {
  width: 90vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}
.electricidad__titulo {
  font-size: 15px;
  font-family: "Rubik";
}
.electricidad__info {
  font-size: 1rem;
  font-family: "Open Sans";
  width: 50vw;
  height: 10vh;
  padding-left: 10%;
}

.informacionHome__asesoramiento {
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.asesoramiento__titulo {
  font-size: 20px;
  width: 100vw;
  height: 10vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 1%;
}
.parrafos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
  width: 100vw;
}
.asesoramiento__parrafo1 {
  width: 349px;
  height: 50vh;
}
.asesoramiento__parrafo2 {
  width: 349px;
  height: 50vh;
}
.informacionHome__amarillo {
  background-color: #ffb400;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.eco {
  width: 100vw;
  height: 25vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.eco__imagen1 {
  width: 50px;
  height: 50px;
  align-self: flex-start;
}
.eco__titulo1 {
  font-family: "Rubik";
  font-size: large;
}
.eco__parrafo1 {
  font-size: 15px;
  width: 370px;
  height: 20vh;
}

.newest {
  width: 100vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.newest__imagen2 {
  width: 50px;
  height: 50px;
  align-self: flex-start;
}
.newest__titulo2 {
  font-family: "Rubik";
  font-size: large;
}
.newest__parrafo2 {
  font-size: 15px;
  width: 370px;
  height: 20vh;
}
.high {
  background-color: #ffb400;
  width: 100vw;
  height: 25vh;
}
.high__imagen3 {
  width: 50px;
  height: 50px;
  align-self: flex-start;
}
.high__titulo3 {
  font-family: "Rubik";
  font-size: large;
}
.high__parrafo3 {
  font-size: 15px;
  width: 100vw;
  height: 20vh;
}
.informacionHome__banner {
  background-color: black;
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.banner__titulo {
  color: white;
  text-align: center;
  width: 300px;
  height: 70px;
  font-size: 18px;
}
.banner__boton {
  border: 15px;
  background-color: white;
  border-color: #ffb400;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 15px;
  margin-bottom: 5%;
}
.fold2 {
  display: flex;
  background: url(../image/imagen_fold_inicio.jpg);
  flex-direction: column;
  background-attachment: contain;
  background-size: cover;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 30px;
  width: 100vw;
  height: 50vh;
}
.experiencia {
  background-color: lightslategrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}
.experiencia__valoraciones {
  background-color: lightslategrey;
  width: 100vw;
  height: 105vh;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.valoraciones__titulo {
  background-color: lightslategrey;
  width: 100vw;
  font-family: "Rubik";
  height: 10vh;
  text-align: center;
  margin-top: 15%;
}
.experiencias {
  display: grid;
  justify-items: center;
  background-color: lightslategrey;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-content: center;
  gap: 5px;
}
.experiencia__card1 {
  background-color: white;
  width: 90vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card1__imagen {
  margin-left: 5%;
}
.card1__info {
  font-size: 12px;
  width: 80vw;
  height: 5vh;
  margin-left: 5%;
}
.card1__nombre {
  font-family: "Rubik", "bold";
  font-weight: 700;
  align-self: flex-start;
  font-size: 20px;
  margin-left: 5%;
}

.experiencia__card2 {
  background-color: white;
  width: 90vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card2__imagen {
  margin-left: 5%;
}
.card2__info {
  font-size: 12px;
  width: 80vw;
  height: 5vh;
  margin-left: 5%;
}
.card2__nombre {
  font-family: "Rubik", "bold";
  font-weight: 700;
  align-self: flex-start;
  font-size: 20px;
  margin-left: 5%;
}

.experiencia__card3 {
  background-color: white;
  width: 90vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card3__imagen {
  margin-left: 5%;
}
.card3__info {
  font-size: 12px;
  width: 80vw;
  height: 5vh;
  margin-left: 5%;
}
.card3__nombre {
  font-family: "Rubik", "bold";
  font-weight: 700;
  align-self: flex-start;
  font-size: 20px;
  margin-left: 5%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 90vh;
}
.informacion {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90vw;
  height: 100vh;
}
.footer__formulario {
  background-color: #ffb400;
  display: flex;
  margin-top: 10%;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 50vh;
}
.formulario__titulo {
  font-weight: 700;
  font-size: 20px;
  width: auto;
}
.formulario__caja {
  width: 90vw;
  height: 40vh;
  display: flex;
}
.nombreMail {
  width: 30vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.caja__nombre {
  width: 40vw;
  height: 5vh;
}
.caja__email {
  width: 47vw;
  height: 5vh;
}
.caja__comentario {
  width: 90vw;
  height: 15vh;
}
.caja__boton {
  background-color: white;
  border: 0;
  width: 30vw;
  height: 40px;
}

.footer__redes {
  background-color: black;
  width: 100vw;
  height: 15vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.iconoDeRedes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 130px;
}
.iconoDeRedes_facebook a {
  width: 30px;
  height: 30px;
}
.iconoDeRedes_twitter a {
  width: 30px;
  height: 30px;
}
.iconoDeRedes_linkedin a {
  width: 30px;
  height: 30px;
}

.footer__info {
  background-color: grey;
  width: 100vw;
  height: 1vh;
  display: flex;
  flex-direction: column;
}
.informacion {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
}
.info__ubicacion {
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.datos {
  width: 40vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.info__telefono {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.info__correo {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

/* ------------PAGINA INDEX FIN--------------- */

/* ------------PAGINA NOSOTROS INICIO--------------- */
/* ------------PAGINA NOSOTROS FIN--------------- */
/* ------------PAGINA PROYECTOS INICIO--------------- */
/* ------------PAGINA PROYECTOS FIN--------------- */
/* ------------PAGINA SERVICIOS INICIO--------------- */
/* ------------PAGINA SERVICIOS FIN--------------- */
/* ------------PAGINA CONTACTO INICIO--------------- */
/* ------------PAGINA CONTACTO FIN--------------- */

.the__titulo2 h2 {
  font-family: "Rubik";
  font-size: 22px;
  width: 350px;
  height: 30px;
}
.the__parrafo2 {
  font-size: 15px;
  width: 370px;
  height: 150px;
}
.quality {
  width: 370px;
  height: 25%;
}
.quality__titulo3 h2 {
  font-family: "Rubik";
  font-size: 22px;
  width: 370px;
  height: 50px;
}
.quality__parrafo3 {
  font-size: 15px;
  width: 350px;
  height: 150px;
}
.nosotros__historia1 {
  width: 100vw;
  height: 80vh;
  display: flex;
}
.nosotros__historia__asesoramiento {
  background-color: grey;
  display: flex;
  width: 100vw;
  height: 70vh;
}
.nosotros__historia__titulo {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.parrafosNosotros {
  background-color: bisque;
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.nosotros__historia__parrafo1 {
  width: 50vw;
  height: 10vh;
}
.nosotros__historia__parrafo2 {
  width: 50vw;
  height: 10vh;
}
.caracteristicas__imagen img {
  width: 70vw;
  height: 100vh;
}
.caracteristicas__only {
  background-color: grey;
  width: 30vw;
  height: 120vh;
}
.caracteristicas__banner {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 20vh;
  justify-content: space-around;
}
.caracteristicas__banner {
  display: flex;
  flex-direction: row;
}
/* ------------PAGINA NOSOTROS FINAL--------------- */

/* ------------PAGINA SERVICIOS INICIO--------------- */

.mainServicios {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bloqueFoldServicios {
  width: 70vw;
  height: 100vh;
}

.foldServicios {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(../image/image/imagen_fold_servicios.jpg);
}
.servicios__titulo {
  font-family: "Rubik";
  color: black;
  width: 80vw;
  height: 20vh;
  font-weight: 700;
  font-size: 45px;
}
.servicios__subtitulo {
  font-family: "Rubik";
  color: black;
  font-weight: 400;
  font-size: 20px;
  width: 80vw;
  height: 20vh;
}
.servicios__boton{
  background-color: #ffb400;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: large;
  width: 15rem;
  height: 3rem;
}


.serviciosTarjetas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 300vh;
}
.informacionHome__asesoramiento1 {
  width: 100vw;
  background-color: #ffb400;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.asesoramientoServiciosTitulo{
  font-size: 2rem;
  font-family: "Rubik";
  display: flex;
  align-items: center;
  justify-content: center;
}
.parrafosservicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.informacionHome__asesoramiento2 {
  background-color: cadetblue;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.asesoramientoServiciosTitulo{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.informacionHome__asesoramiento3 {
  background-color: aliceblue;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.asesoramiento__parrafo1{
  width: 90vw;
  height: 30vh;
}
.asesoramiento__parrafo2 {
  width: 90vw;
  height: 30vh;
}

.proyectosfinalizados {
  background-color: lightslategrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 200vh;
  align-items: center;
}
.proyectosEncurso{
  width: 100vw;
  height: 200vh;
  font-size: 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.proyectosEncurso__titulo {
  text-align: center;
}
.enCurso {
  display: grid;
  background-color: lightslategrey;
  width: 90vw;
  height: 200vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-content: center;
  gap: 5%;
}
.enCurso__tarjeta1 {
  background-color: white;
  width: 90vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.enCurso__tarjeta1:hover {
  transform: scale(1.2, 1.2);
}
.enCurso__tarjeta2:hover {
  transform: scale(1.2, 1.2);
}
.enCurso__tarjeta3:hover {
  transform: scale(1.2, 1.2);
}
.tarjeta1__imagen {
  width: 90vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tarjeta1__info {
  font-family: "Rubik";
  font-size: 22px;
  width: 70vw;
  height: 20vh;
}
.tarjeta1__nombre {
  font-family: "Rubik", "bold";
  font-weight: 700;
  align-self: flex-start;
  font-size: 24px;
  margin-left: 10%;
}

.enCurso__tarjeta2 {
  background-color: white;
  width: 90vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.tarjeta2__imagen {
  width: 90vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tarjeta2__info {
  font-family: "Rubik";
  font-size: 22px;
  width: 70vw;
  height: 20vh;
}
.tarjeta2__nombre {
  font-family: "Rubik", "bold";
  font-weight: 700;
  align-self: flex-start;
  font-size: 24px;
  margin-left: 10%;
}

.enCurso__tarjeta3 {
  background-color: white;
  width: 90vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.tarjeta3__imagen {
  width: 90vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tarjeta3__info {
  font-family: "Rubik";
  font-size: 22px;
  width: 70vw;
  height: 20vh;
}
.tarjeta3__nombre {
  font-family: "Rubik", "bold";
  font-weight: 700;
  font-size: 24px;
  align-self: flex-start;
  margin-left: 10%;
}
/* ------------PAGINA SERVICIOS FINAL--------------- */

/* ------------PAGINA PROYECTOS INICIO--------------- */

.principalProyectos {
  background-image: url(./image/image/fold_proyectos.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 80vh;
}
.foldProyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url(../image/imagen_fold_inicio3.jpg);
  background-size: cover;
  width: 100vw;
  height: 80vh;
}
/* ------------PAGINA CONTACTO INICIO--------------- */

.principalContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 80vh;
}
.foldContacto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../image/imagen_fold_inicio3.jpg);
  background-size: cover;
  padding-bottom: 30px;
  width: 100vw;
  height: 80vh;
}
.tituloFoldContacto {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-family: "Rubik";
  font-weight: 700;
  font-size: 44px;
  color: white;
  margin-left: 10%;
}
.foldContactoSubtitulo p {
  width: 50vw;
  height: 5vh;
  margin-left: 5%;
}
.botonContacto {
  width: 100vw;
  height: 3vh;
  margin-left: 10%;
}
.botonContacto a {
  background-color: #ffb400;
  color: white;
  width: 100vw;
  height: 5vh;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px 15px 20px;
  align-self: flex-start;
}
.fold__info {
  background-color: #ffb400;
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.fold__info__contacto {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.tituloInfo {
  width: 40vw;
  height: 20vh;
  display: flex;
  justify-content: flex-start;
  font-family: "Rubik";
  font-weight: 700;
  font-size: 24px;
  color: black;
  margin-left: 10%;
}
.datosContacto {
  width: 40vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 15%;
}
.info__ubicacion__contacto {
  width: 450px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.info__telefono__contacto {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.info__correo__contacto {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.mapaGoogle {
  width: 100vw;
  height: 70vh;
  border-color: black;
  border-width: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preguntas {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  background-color: #dad6d6;
}
.pregunta {
  display: flex;
  font-family: "Rubik";
  font-weight: 400;
  justify-content:center;
  align-items: center;
  width: 90vw;

  background-color: white;
}
.preguntasBloque {
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10%;
  margin-top: 2%;
}
.pregunta1 summary {
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 45vw;
  height: 6vh;
  background-color: white;
  border: 5px;
  border-color: black;
}
.pregunta2 summary {
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 45vw;
  height: 6vh;
  background-color: white;
  border: 5px;
  border-color: black;
}
.pregunta3 summary {
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 45vw;
  height: 6vh;
  background-color: white;
  border: 5px;
  border-color: black;
}
.pregunta4 summary {
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 45vw;
  height: 6vh;
  background-color: white;
  border: 5px;
  border-color: black;
}
.pregunta5 summary {
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 45vw;
  height: 6vh;
  background-color: white;
  border: 5px;
  border-color: black;
}

.bloqueImagen {
  width: 50vw;
  background-size: cover;
}

/* ------------PAGINA CONTACTO FINAL--------------- */

/* ------------PAGINA PROYECTOS INICIO--------------- */

/* ------------PAGINA PROYECTOS FINAL--------------- */

/* ------------PAGINA CONTACTO INICIO--------------- */

.principalContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 60vh;
}
.foldContacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background: url(../image/imagen_fold_inicio3.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.foldContactoSubtitulo {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 20px;
  width: 100vw;
  height: 20vh;
}

.fold__contacto__boton {
  background-color: #ffb400;
  color: white;
  width: 40vw;
  height: 6vh;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-left: 2%;
}

.fold__info {
  background-color: #ffb400;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.fold__info__contacto {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.tituloInfo {
  width: 40vw;
  height: 20vh;
  display: flex;
  justify-content: flex-start;
  font-family: "Rubik";
  font-weight: 700;
  font-size: 24px;
  color: black;
  margin-left: 10%;
}
.datosContacto {
  width: 40vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 15%;
}
.info__ubicacion__contacto {
  width: 450px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.info__telefono__contacto {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.info__correo__contacto {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.mapaGoogle {
  width: 100vw;
  height: 70vh;
  border-color: black;
  border-width: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preguntas {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.preguntasBloque {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5%;
  margin-top: 2%;
}
summary {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 6vh;
  background-color: white;
  border: 5px;
  border-color: black;
}
.bloqueImagen {
  width: 50vw;
  background: url(../image/preguntasimg.svg);
  background-size: cover;
}
/* ------------PAGINA CONTACTO FINAL--------------- */
@media screen and (min-width: 992px) {
  html {
    font-family: "Poppins", "Open+Sans", "Rubik" !important;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }
  a {
    text-decoration: none;
    color: black;
  }
  /*------------- principio del header ----------------------*/

  .main__header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    width: 100vw;
    height: 50px;
  }

  .main__header__logo {
    background-image: url(../image/logoHeader.jpg);
    border-radius: 15px 15px;
    width: 135px;
    height: 40px;
    display: inline-flex;
    margin-left: 10%;
  }
  .main__header nav {
    background-color: white;
    width: 550px;
    height: 30px;
    margin-right: 5%;
  }
  .main__header ul {
    width: 550px;
    height: 30px;
    margin: 0;
    display: inline-flex;
  }
  .main__header ul li {
    background-color: white;
    margin-right: 5px;
    font-family: "Poppins";
    font-weight: 700;
    display: inline-flex;
  }

  .main__header ul li a {
    background-color: white;
    margin-right: 5px;
    width: 80px;
    height: 25px;
    font-family: "Poppins";
    font-weight: 700;
    display: inline-flex;
  }
  /* -----------------fin del header -----------------------------*/
  /* -----------------inicio del fold -----------------------------*/
  .principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 90vh;
  }
  .fold {
    display: flex;
    background: url(../image/imagen_fold_inicio3.jpg);
    flex-direction: column;
    background-attachment: contain;
    background-size: cover;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
    width: 100vw;
    height: 100vh;
  }
  .fold__titulo {
    display: inline-flex;
    width: 95vw;
    font-family: "Rubik";
    font-weight: 700;
    font-size: 64px;
  }
  .fold__titulo2 {
    font-family: "Rubik";
    width: 500px;
    height: 220px;
    font-weight: 700;
    font-size: 45px;
  }
  .fold__subtitulo {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 20px;
    width: 80vw;
    height: 15vh;
  }
  .fold__boton {
    background-color: #ffb400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: large;
    width: 13rem;
    height: 2rem;
  }
  /* -----------------fin del fold principal -----------------------------*/
  .serviciosHome {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 80vh;
    background-color: rgb(249, 244, 244);
    color: black;
  }
  .serviciosHome__obrasEnYeso,
  a {
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
  }
  .serviciosHome__obrasEnYeso:hover {
    transform: scale(1.1, 1.1);
    transition: all 1.5s;
  }
  .serviciosdata {
    margin: 0;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .obras__imagen {
    width: 100px;
    height: 100px;
  }
  .obrasEnYeso__titulo {
    font-size: 20px;
    width: 180px;
    height: 60px;
    font-family: "Rubik";
  }
  .obrasEnYeso__info {
    font-size: 12px;
    font-family: "Open Sans";
    width: 200px;
    height: 100px;
  }
  .serviciosHome__mantenimiento {
    width: 400px;
    font-size: 22px;
    height: 150px;
    background-color: white;
  }
  .serviciosHome__mantenimiento:hover {
    transform: scale(1.5, 1.5);
    transition: all 1.5s;
  }
  .mantenimiento__titulo {
    font-size: 15px;
    font-family: "Rubik";
    width: 280px;
    height: 60px;
  }
  .mantenimiento__info {
    font-size: 12px;
    font-family: "Open Sans";
    width: 200px;
    height: 100px;
  }
  .serviciosHome__demoliciones {
    width: 400px;
    height: 150px;
    background-color: white;
  }
  .serviciosHome__demoliciones:hover {
    transform: scale(1.5, 1.5);
    transition: all 1.5s;
  }
  .demoliciones__titulo {
    font-size: 15px;
    width: 180px;
    height: 60px;
    font-family: "Rubik";
  }
  .demoliciones__info {
    font-size: 12px;
    font-family: "Open Sans";
    width: 200px;
    height: 100px;
  }
  .serviciosHome__albanileria {
    width: 400px;
    height: 150px;
    background-color: white;
  }
  .serviciosHome__albanileria:hover {
    transform: scale(1.5, 1.5);
    transition: all 1.5s;
  }
  .albanileria__titulo {
    font-size: 15px;
    width: 180px;
    height: 60px;
    font-family: "Rubik";
  }

  .albanileria__info {
    font-size: 12px;
    font-family: "Open Sans";
    width: 200px;
    height: 100px;
  }
  .serviciosHome__pintura {
    width: 400px;
    height: 150px;
    background-color: white;
  }
  .serviciosHome__pintura:hover {
    transform: scale(1.5, 1.5);
    transition: all 1.5s;
  }
  .pintura__titulo {
    font-size: 15px;
    font-family: "Rubik";
  }
  .pintura__info {
    font-size: 12px;
    font-family: "Open Sans";
    width: 200px;
    height: 100px;
  }
  .serviciosHome__electricidad {
    width: 400px;
    height: 150px;
    background-color: white;
  }
  .serviciosHome__electricidad:hover {
    transform: scale(1.5, 1.5);
    transition: all 1.5s;
  }
  .electricidad__titulo {
    font-size: 15px;
    font-family: "Rubik";
  }
  .electricidad__info {
    font-size: 12px;
    font-family: "Open Sans";
    width: 200px;
    height: 100px;
  }
  .informacionHome {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  .informacionHome__asesoramiento {
    background-color: grey;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .informacionHomeGris {
    background-color: grey;
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .asesoramiento__titulo {
    width: 30vw;
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
  }
  .parrafos {
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .asesoramiento__parrafo1 {
    display: inline-flex;
    width: 30vw;
    height: 250px;
    padding-right: 5%;
  }
  .asesoramiento__parrafo2 {
    display: inline-flex;
    width: 30vw;
    height: 250px;
    padding-left: 5%;
  }
  .informacionHome__banner {
    background-color: black;
    width: 70vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .banner__titulo {
    color: white;
    width: 300px;
    height: 70px;
    font-size: 22px;
    margin-top: 5%;
  }

  .banner__boton {
    border: 5px;
    border-color: #ffb400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  .banner__boton {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: black;
    width: 130px;
    height: 50px;
  }
  .informacionHome__amarillo {
    background-color: #ffb400;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .eco {
    width: 370px;
    height: 25%;
  }
  .eco__imagen1 {
    width: 50px;
    height: 50px;
    align-self: flex-start;
  }
  .eco__titulo1 {
    font-family: "Rubik";
  }
  .eco__parrafo1 {
    font-size: 15px;
    width: 370px;
    height: 90px;
  }
  .newest {
    width: 370px;
    height: 25%;
  }
  .newest__imagen2 {
    width: 50px;
    height: 50px;
    align-self: flex-start;
  }
  .newest__titulo2 {
    font-family: "Rubik";
    font-size: 22px;
    width: 350px;
    height: 30px;
  }
  .newest__parrafo2 {
    font-size: 15px;
    width: 370px;
    height: 150px;
  }
  .high {
    width: 370px;
    height: 25%;
    background-color: #ffb400;
  }
  .high__titulo3 {
    font-family: "Rubik";
    font-size: 22px;
    width: 370px;
    height: 50px;
  }
  .high__parrafo3 {
    font-size: 15px;
    width: 350px;
    height: 150px;
  }

  .fold2 {
    display: flex;
    background: url(../image/imagen_fold_inicio.jpg);
    flex-direction: column;
    background-attachment: contain;
    background-size: cover;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
    width: 100vw;
    height: 100vh;
  }
  .fold2__titulo2 {
    font-family: "Rubik";
    font-weight: 700;
    font-size: 48px;
  }
  .fold2__subtitulo {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 22px;
  }
  .fold2__boton {
    background-color: #ffb400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: large;
    width: 13rem;
    height: 3rem;
  }
  .experiencia {
    background-color: lightslategrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
  }
  .experiencia__valoraciones {
    width: 100vw;
    height: 100vh;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .valoraciones__titulo {
    display: inline-flex;
    font-family: "Rubik";
    text-align: center;
    justify-content: center;
    font-size: 30px;
  }
  .experiencias {
    display: grid;
    background-color: lightslategrey;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 2%;
  }
  .experiencia__card1 {
    background-color: white;
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .experiencia__card1:hover {
    transform: scale(1.2, 1.2);
  }
  .experiencia__card2:hover {
    transform: scale(1.2, 1.2);
  }
  .experiencia__card3:hover {
    transform: scale(1.2, 1.2);
  }
  .card1__imagen {
    font-size: 22px;
    width: 10vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card1__info {
    font-size: 22px;
    width: 20vw;
    height: 20vh;
    justify-content: center;
  }
  .card1__nombre {
    font-family: "Rubik", "bold";
    font-weight: 700;
    align-self: flex-start;
    font-size: 24px;
    margin-left: 10%;
  }

  .experiencia__card2 {
    background-color: white;
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .card2__imagen {
    font-size: 22px;
    width: 10vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card2__info {
    font-size: 22px;
    width: 20vw;
    height: 20vh;
  }
  .card2__nombre {
    font-family: "Rubik", "bold";
    font-weight: 700;
    align-self: flex-start;
    font-size: 24px;
    margin-left: 10%;
  }

  .experiencia__card3 {
    background-color: white;
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .card3__imagen {
    font-size: 22px;
    width: 10vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card3__info {
    font-size: 22px;
    width: 20vw;
    height: 20vh;
  }
  .card3__nombre {
    font-family: "Rubik", "bold";
    font-weight: 700;
    font-size: 24px;
    align-self: flex-start;
    margin-left: 10%;
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    height: 60vh;
  }
  .informacion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100vw;
    height: 60vh;
  }
  .footer__formulario {
    background-color: #ffb400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 60vh;
    margin: 0;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
    height: 40vh;
  }
  .formulario__titulo {
    font-weight: 700;
    font-size: 36px;
    width: 50vw;
    height: 10vh;
  }
  .formulario__caja {
    width: 50vw;
    height: 60vh;
  }
  .nombreMail {
    display: flex;
    width: 49vw;
    height: 10vh;
    flex-direction: row;
    justify-content: flex-start;
  }
  .caja__nombre {
    width: 20vw;
    height: 5vh;
  }
  .caja__email {
    width: 30vw;
    height: 5vh;
  }
  .caja__comentario {
    width: 49vw;
    height: 15vh;
  }
  .caja__boton {
    color: black;
    background-color: white;
    border: 0;
    width: 100px;
    height: 40px;
    align-self: flex-start;
    margin-left: 1%;
    margin-top: 2%;
  }

  .footer__redes {
    background-color: black;
    width: 50vw;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .iconoDeRedes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 130px;
  }
  .iconoDeRedes_facebook {
    width: 30px;
    height: 30px;
  }
  .iconoDeRedes_twitter {
    width: 30px;
    height: 30px;
  }
  .iconoDeRedes_linkedin {
    width: 30px;
    height: 30px;
  }
  .footer__info {
    background-color: grey;
    width: 50vw;
    height: 500px;
    display: flex;
    flex-direction: column;
  }
  .info__ubicacion {
    width: 450px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .datos {
    width: 40vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 15%;
  }
  .info__telefono {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .info__correo {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  /* ------------PAGINA NOSOTROS INICIO--------------- */

  .principalNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
  }

  .fold__nosotros {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background: url(../image/imagen_fold_inicio3.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  .fold__nosotros__titulo {
    display: flex;
    font-family: "Rubik";
    width: 60vw;
    height: 10vh;
    font-weight: 700;
    font-size: 60px;
  }
  .fold__nosotros__subtitulo {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 18px;
    width: 50vw;
    height: 10vh;
  }
  .fold__nosotros__boton {
    background-color: #ffb400;
    color: white;
    width: 12vw;
    height: 6vh;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-left: 2%;
  }
  .nosotros__historia1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .parrafosNosotros {
    background-color: bisque;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .nosotros__historia__parrafo1 {
    width: 40vw;
    height: 10vh;
  }
  .nosotros__historia__parrafo2 {
    width: 40vw;
    height: 10vh;
  }
  /* amarilla---------------------------------------------- */

  .caracteristicas {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .caracteristicas__imagen {
    width: 70vw;
    height: 80vh;
  }
  .caracteristicas__only {
    background-color: #ffb400;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .caracteristicas__banner {
    width: 70vw;
    height: 20vh;
  }
  .caracteristicas__banner__cajaAmarilla {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .caracteristicas__banner__cajaNegra {
    background-color: grey;
    display: flex;
    width: 35vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* ------------PAGINA PROYECTOS INICIO--------------- */
  /* USA BOOTSTRAP UNICAMENTE NO HAY ESTILO */
  /* ------------PAGINA PROYECTOS FIN--------------- */

  /* ------------PAGINA SERVICIOS INICIO--------------- */

  .mainServicios {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .bloqueFoldServicios {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
  }
  .foldServicios {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/image/imagen_fold_servicios.jpg);
  }
  .servicios__titulo {
    font-family: "Rubik";
    width: 40vw;
    height: 20vh;
    font-weight: 700;
    font-size: 45px;
  }
  .servicios__subtitulo {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 20px;
    width: 40vw;
    height: 10vh;
  }
  .servicios__boton{
    background-color: #ffb400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: large;
    width: 15rem;
    height: 3rem;
  }

  .serviciosYeso {
    width: 345px;
    height: 101px;
  }
  .serviciosTarjetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200vh;
  }
  .informacionHome__asesoramiento1 {
    width: 70vw;
    background-color: #ffb400;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 28%;
  }
  
  .asesoramientoServiciosTitulo{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .parrafosservicios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .informacionHome__asesoramiento2 {
    background-color: cadetblue;
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 28%;
  }
  
  .asesoramiento__titulo h2 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .informacionHome__asesoramiento3 {
    background-color: aliceblue;
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 28%;
  }
  
  .asesoramiento__titulo h2 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .asesoramiento__parrafo1 {
    width: 349px;
    height: 30vh;
  }
  .asesoramiento__parrafo2 {
    width: 349px;
    height: 30vh;
  }
  
  .proyectosfinalizados {
    background-color: lightslategrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
  }
  .proyectosEncurso{
    width: 100vw;
    height: 15vh;
    font-size: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .proyectosEncurso__titulo {
    font-family: "Rubik";
    text-align: center;
    width: 80vw;
    height: 20vh;
  }
  .enCurso {
    display: grid;
    background-color: lightslategrey;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    gap: 5%;
  }
  .enCurso__tarjeta1 {
    background-color: white;
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .enCurso__tarjeta1:hover {
    transform: scale(1.2, 1.2);
  }
  .enCurso__tarjeta2:hover {
    transform: scale(1.2, 1.2);
  }
  .enCurso__tarjeta3:hover {
    transform: scale(1.2, 1.2);
  }
  .tarjeta1__imagen {
    width: 25vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tarjeta1__info {
    font-size: 22px;
    width: 20vw;
    height: 20vh;
    justify-content: center;
  }
  .tarjeta1__nombre {
    font-family: "Rubik", "bold";
    font-weight: 700;
    align-self: flex-start;
    font-size: 24px;
    margin-left: 10%;
  }
  
  .enCurso__tarjeta2 {
    background-color: white;
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .tarjeta2__imagen {
    font-size: 22px;
    width: 25vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tarjeta2__info {
    font-size: 22px;
    width: 20vw;
    height: 20vh;
  }
  .tarjeta2__nombre {
    font-family: "Rubik", "bold";
    font-weight: 700;
    align-self: flex-start;
    font-size: 24px;
    margin-left: 10%;
  }
  
  .enCurso__tarjeta3 {
    background-color: white;
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .tarjeta3__imagen {
    font-size: 22px;
    width: 25vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tarjeta3__info {
    font-size: 22px;
    width: 20vw;
    height: 20vh;
  }
  .tarjeta3__nombre {
    font-family: "Rubik", "bold";
    font-weight: 700;
    font-size: 24px;
    align-self: flex-start;
    margin-left: 10%;
  }
  /* ------------PAGINA SERVICIOS FIN--------------- */
  /* ------------PAGINA CONTACTO INICIO--------------- */
  .foldContacto {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .tituloFoldContacto {
    width: 50vw;
    height: 20vh;
    font-family: "Rubik";
    font-weight: 700;
    font-size: 3rem;
    color: white;
    margin: 2%;
  }
  .contacto__subtitulo {
    font-family: "Rubik";
    font-size: 15px;
    width: 50vw;
    height: 10vh;
    margin-left: 2%;
  }
  .fold__contacto__boton {
    background-color: #ffb400;
    color: white;
    width: 10vw;
    height: 6vh;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-left: 2%;
  }

  .preguntas {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .preguntasBloque {
    width: 50vw;
    height: 100vh;
  }
  summary {
    width: 50vw;
  }
  .pregunta {
    display: flex;
    font-family: "Rubik";
    font-weight: 400;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40vw;
    margin: 10px 0;
    background-color: white;
  }

  .bloqueImagen {
    width: 50vw;
    height: 100vh;
  }

  /* ------------PAGINA CONTACTO FIN--------------- */
}
