html {
  font-family: "Poppins", "Open+Sans", "Rubik";
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: darkgrey;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;

}
p {

}

.main__header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  width: 100vw;
  height: 10vh;
}

.main__header__logo {
  background-image: url(../image/logoHeader.jpg);
  border-radius: 15px 15px;
  width: 33vw;
  height: 5vh;
  display: inline-flex;
  margin-left: %;
}
.main__header nav {
  width: 67vw;
  height: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.main__header ul {
  width: 60vw;
  height: 5vh;
  display: inline-flex;
  flex-wrap: wrap;
}
.main__header ul li {
  background-color: white;
  margin-right: 5px;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 700;
  display: inline-flex;

}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 60vh;
}
.fold {
  display: flex;
  background: url(../image/imagen_fold_inicio3.jpg);
  flex-direction: column;
  background-size: cover;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5vh;
  width: 100vw;
  height: 60vh;
}
.fold__imagen {
}
.fold__titulo h1{
  font-family: "Rubik";
  font-weight: 700;
  font-size: 30px;
  width: 100vw;
  height: 20vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.fold__subtitulo {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 48px;
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fold__subtitulo p{
  font-family: "Rubik";
  font-weight: 400;
  font-size: 15px;
  width: 100vw;
  height: 5vh;


}
.fold__boton a{
  border: 15px;
  font-size: large;
  background-color:#ffb400;
  border-color: #ffb400;
  color: black;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 4px 20px;
}

.serviciosHome {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: 130vh;
  background-color: rgb(249, 244, 244);
  color: black;
}
.serviciosdata {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.serviciosHome__obrasEnYeso {
  width: 90vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.obrasEnYeso__titulo h2 {
  font-size: large;
  width: 40vw;
  font-family: "Rubik";
}
.obrasEnYeso__imagen {
  width: 50px;
  height: 50px;
}
.obrasEnYeso__info {
  font-size: 1rem;
  font-family: "Open Sans";
  width: 50vw;
  height: 10vh;
  padding-left: 10%;
}

.serviciosHome__mantenimiento {
  width: 90vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.mantenimiento__titulo h2{
  font-size: large;
  width: 40vw;
  font-family: "Rubik";
}
.mantenimiento__imagen {
  
}
.mantenimiento__info {
  font-size: 1rem;
  font-family: "Open Sans";
  width: 50vw;
  height: 10vh;
  padding-left: 10%;
}

.serviciosHome__demoliciones {
  width: 90vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.demoliciones__titulo {
  font-size: 15px;
  font-family: "Rubik";
}
.demoliciones__imagen {
}
.demoliciones__info {
  font-size: 1rem;
  font-family: "Open Sans";
  padding-left: 10%;
  width: 50vw;
  height: 10vh;

}

.serviciosHome__albanileria {
  width: 90vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.albanileria__titulo {
  font-size: 15px;
  font-family: "Rubik";
}
.albanileria__imagen {
}
.albanileria__info {
  font-size: 1rem;
  font-family: "Open Sans";
  width: 50vw;
  height: 10vh;
  padding-left: 10%;
}

.serviciosHome__pintura {
  width: 90vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.pintura__titulo {
  font-size: 15px;
  font-family: "Rubik";
}
.pintura__imagen {
}
.pintura__info {
  font-size: 1rem;
  font-family: "Open Sans";
  width: 50vw;
  height: 10vh;
  padding-left: 10%;
}

.serviciosHome__electricidad {
  width: 90vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.electricidad__titulo {
  font-size: 15px;
  font-family: "Rubik";
}
.electricidad__imagen {
}
.electricidad__info {
  font-size: 1rem;
  font-family: "Open Sans";
  width: 50vw;
  height: 10vh;
  padding-left: 10%;
}

.informacionHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 180vh;
}
.informacionHome__asesoramiento {

  width: 70vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.asesoramiento__titulo h2{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
}
.parrafos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.asesoramiento__parrafo1 {
  width: 349px;
  height: 30vh;
}
.asesoramiento__parrafo2 {
  width: 349px;
  height: 30vh;
}

.informacionHome__amarillo {
  background-color: #ffb400;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}
.eco {
  width: 100vw;
  height: 25%;
}
.eco__imagen1 {
  width: 50px;
  height: 50px;
  align-self: flex-start;
}
.eco__titulo1 {
  font-family: "Rubik";
  font-size: large;
}
.eco__parrafo1 {
  font-size: 15px;
  width: 370px;
  height: 20vh;
}

.newest {
  width: 100vw;
  height: 25%;
}
.newest__imagen2 {
  width: 50px;
  height: 50px;
  align-self: flex-start;
}
.newest__titulo2 {
  font-family: "Rubik";
  font-size: large;
}
.newest__parrafo2 {
  font-size: 15px;
  width: 370px;
  height: 20vh;
}

.high {
  width: 100vw;
  height: 25%;
}
.high__imagen3 {
  width: 50px;
  height: 50px;
  align-self: flex-start;
}
.high__titulo3 {
  font-family: "Rubik";
  font-size: large;
}
.high__parrafo3 {
  font-size: 15px;
  width: 100vw;
  height: 20vh;
}

.informacionHome__banner {
  background-color: black;
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.banner__titulo {
  color: white;
  width: 300px;
  height: 70px;
  font-size: 15px;
  margin-left: 10%;
}
.banner__boton a{
  border: 15px;
  background-color:#ffb400;
  border-color: #ffb400;
  color: black;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 4px 15px;

}

.fold2 {
  display: flex;
  background: url(../image/imagen_fold_inicio.jpg);
  flex-direction: column;
  background-attachment: contain;
  background-size: cover;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 30px;
  width: 100vw;
  height: 50vh;
}

.fold2__titulo2 {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 20px;
}
.fold2__subtitulo {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 15px;
}
.fold2__boton a{
  border: 15px;
  background-color:#ffb400;
  border-color: #ffb400;
  color: black;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 4px 15px;
}

.experiencia {
  background-color: lightslategrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 80vh;
}
.experiencia__valoraciones h2{
  width: 100vw;
  height: 15vh;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.valoraciones__titulo {
  text-align: center;
}
.experiencias {
  display: grid;
  justify-items: center;
  background-color: lightslategrey;
  width: 100vw;
  height: 65vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-content: center;
  gap: 5px;
}
.experiencia__card1 {
  background-color: white;
  width: 90vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  }

.card1__imagen {
  margin-left: 5%;
  
}
.card1__info {
  font-size: 12px;
  width: 80vw;
  height: 5vh;
  margin-left: 5%;
}
.card1__nombre {
  font-family: "Rubik", "bold";
  font-weight: 700;
  align-self: flex-start;
  font-size: 20px;
  margin-left: 5%;
}

.experiencia__card2 {
  background-color: white;
  width: 90vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card2__imagen {
  margin-left: 5%;
}
.card2__info {
  font-size: 12px;
  width: 80vw;
  height: 5vh;
  margin-left: 5%;
}
.card2__nombre {
  font-family: "Rubik", "bold";
  font-weight: 700;
  align-self: flex-start;
  font-size: 20px;
  margin-left: 5%;
}

.experiencia__card3 {
  background-color: white;
  width: 90vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card3__imagen {
  margin-left: 5%;
}
.card3__info {
  font-size: 12px;
  width: 80vw;
  height: 5vh;
  margin-left: 5%;
}
.card3__nombre {
  font-family: "Rubik", "bold";
  font-weight: 700;
  align-self: flex-start;
  font-size: 20px;
  margin-left: 5%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 90vh;
}
.informacion {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90vw;
  height: 100vh;

}
.footer__formulario {
  background-color: #ffb400;
  display: flex;
  margin-top: 10%;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 40vh;
}
.formulario__titulo h2{
  font-weight: 700;
  font-size: 20px;
  width: auto;
}
.formulario__caja {
  width: 90vw;
  height: 40vh;
  display: flex;

}
.nombreMail {
  width: 30vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.caja__nombre input {
  width: 40vw;
  height: 5vh;
}
.caja__email input {
  width: 47vw;
  height: 5vh;
}
.caja__comentario textarea {
  width: 90vw;
  height: 15vh;

}
.caja__boton input {
  background-color: white;
  border: 0;
  width: 30vw;
  height: 40px;
}

.footer__redes {
  background-color: black;
  width: 100vw;
  height: 15vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.iconoDeRedes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 130px;
}
.iconoDeRedes_facebook a{
  width: 30px;
  height: 30px;

}
  .iconoDeRedes_twitter a{
    width: 30px;
    height: 30px;
  }
  .iconoDeRedes_linkedin a{
    width: 30px;
    height: 30px;
  }

.footer__info {
  background-color: grey;
  width: 100vw;
  height: 1vh;
  display: flex;
  flex-direction: column;
}
.informacion {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 50vh;

}
.info__ubicacion {
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.datos {
  width: 40vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}
.ubicacion__icono {
}
.ubicacion__direccion {
}

.info__telefono {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.telefono__icono {
}
.telefono__numero {
}
.info__correo {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.correo__icono {
}
.correo__direccion {
}
  /* ------------PAGINA INDEX FIN--------------- */

  /* ------------PAGINA NOSOTROS INICIO--------------- */
  /* ------------PAGINA NOSOTROS FIN--------------- */
  /* ------------PAGINA PROYECTOS INICIO--------------- */
  /* ------------PAGINA PROYECTOS FIN--------------- */
  /* ------------PAGINA SERVICIOS INICIO--------------- */
  /* ------------PAGINA SERVICIOS FIN--------------- */
  /* ------------PAGINA CONTE INICIO--------------- */
  /* ------------PAGINA SERVICIOS FIN--------------- */

@media screen and (min-width: 992px) {
  html {
    font-family: "Poppins", "Open+Sans", "Rubik";
  }
  body {
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  a {
    text-decoration: none;
    color: black;
  }
  /*------------- principio del header ----------------------*/

  .main__header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    width: 100vw;
    height: 50px;
 }
  .main__header__logo {
    background-image: url(../image/logoHeader.jpg);
    border-radius: 15px 15px;
    width: 135px;
    height: 40px;
    display: inline-flex;
    margin-left: 10%;
  }
  .main__header nav {
    background-color: white;
    width: 550px;
    height: 30px;
  }
  .main__header ul {
width: 450px;
height: 30px;
margin: 0;
display: inline-flex;

  }
  .main__header ul li {
    background-color: white;
    margin-right: 5px;
    font-family: "Poppins";
    font-weight: 700;
    display: inline-flex;
  }

  .main__header ul li a{
    background-color: white;
    margin-right: 5px;
    width: 80px;
    height: 25px;
    font-family: "Poppins";
    font-weight: 700;
    display: inline-flex;
  }
  /* -----------------fin del header -----------------------------*/
  /* -----------------inicio del fold -----------------------------*/
  .principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 90vh;
  }

  .fold {
    display: flex;
    background: url(../image/imagen_fold_inicio3.jpg);
    flex-direction: column;
    background-attachment: contain;
    background-size: cover;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
    width: 100vw;
    height: 100vh;
  }
  .fold__titulo h1 {
    font-family: "Rubik";
    font-weight: 700;
    font-size: 64px;
  }
  .fold__titulo2 h2 {
    font-family: "Rubik";
    width: 500px;
    height: 220px;
    font-weight: 700;
    font-size: 45px;
  }

  .fold__subtitulo {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 20px;
  }
  .fold__boton a {
    background-color: #ffb400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: large;
    width: 13rem;
    height: 3rem;
  }
  /* -----------------fin del fold principal -----------------------------*/
  .serviciosHome {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 80vh;
    background-color: rgb(249, 244, 244);
    color: black;
  }
  .serviciosHome__obrasEnYeso,
  a {
    width: 345px;
    height: 101px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
  }
  .serviciosHome__obrasEnYeso:hover {
    transform: scale(1.5,1.5);
    transition: all 1.5s;
  }
  .serviciosdata {
    margin: 0;
    width: 345px;
    height: 101px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .obrasEnYeso__titulo {
    font-size: 22px;
    width: 345px;
    height: 101px;
    font-family: "Rubik";
  }

  .obrasEnYeso__info {
    font-size: 12px;
    font-family: "Open Sans";
    width: 345px;
    height: 101px;
  }

  .serviciosHome__mantenimiento {
    width: 345px;
    height: 101px;
    background-color: white;
  }
  .serviciosHome__mantenimiento:hover {
    transform: scale(1.5,1.5);
    transition: all 1.5s;
  }
  .mantenimiento__titulo {
    font-size: 11px;
    font-family: "Rubik";  
    width: 345px;
    height: 101px;
  }

  .mantenimiento__info {
    font-size: 12px;
    font-family: "Open Sans";
    width: 345px;
    height: 101px;
  }

  .serviciosHome__demoliciones {
    width: 345px;
    height: 101px;
    background-color: white;
  }
  .serviciosHome__demoliciones:hover {
    transform: scale(1.5,1.5);
    transition: all 1.5s;
  }
  .demoliciones__titulo {
    font-size: 15px;
    font-family: "Rubik";
  }

  .demoliciones__info {
    font-size: 12px;
    font-family: "Open Sans";
    width: 345px;
    height: 101px;
  }

  .serviciosHome__albanileria {
    width: 345px;
    height: 101px;
    background-color: white;
  }
  .serviciosHome__albanileria:hover {
    transform: scale(1.5,1.5);
    transition: all 1.5s;
  }
  .albanileria__titulo {
    font-size: 15px;
    font-family: "Rubik";
  }

  .albanileria__info {
    font-size: 12px;
    font-family: "Open Sans";
    width: 345px;
    height: 101px;
  }

  .serviciosHome__pintura {
    width: 345px;
    height: 101px;
    background-color: white;
  }
  .serviciosHome__pintura:hover {
    transform: scale(1.5,1.5);
    transition: all 1.5s;
  }
  .pintura__titulo {
    font-size: 15px;
    font-family: "Rubik";
  }
  .pintura__info {
    font-size: 12px;
    font-family: "Open Sans";
    width: 345px;
    height: 101px;
  }

  .serviciosHome__electricidad {
    width: 345px;
    height: 101px;
    background-color: white;
  }
  .serviciosHome__electricidad:hover {
    transform: scale(1.5,1.5);
    transition: all 1.5s;
  }
  .electricidad__titulo {
    font-size: 15px;
    font-family: "Rubik";
  }

  .electricidad__info {
    font-size: 12px;
    font-family: "Open Sans";
    width: 345px;
    height: 101px;
  }

  .informacionHome {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
  }

  .informacionHome__asesoramiento {
    background-color: grey;
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .asesoramiento__titulo h2{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
  }
  .parrafos{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .asesoramiento__parrafo1 {
    width: 349px;
    height: 216px;
  }
  .asesoramiento__parrafo2 {
    width: 349px;
    height: 216px;

  }
  .informacionHome__banner {
    background-color: black;
    width: 70vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .banner__titulo {
    color: white;
    width: 300px;
    height: 70px;
    font-size: 15px;
    margin-left: 10%;
  }

  .banner__boton{
    border: 5px;
    border-color: #ffb400;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 15% 5px 10px;
  }
  .banner__boton a{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: black;
    width: 130px;
    height: 50px  ;
  }
  .informacionHome__amarillo {
    background-color: #ffb400;
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .eco {
    width: 370px;
    height: 25%;
  }
  .eco__imagen1 img{
    width: 50px;
    height: 50px;
    align-self: flex-start;

  }
  .eco__titulo1 {
    font-family: "Rubik";
  }
  .eco__parrafo1 {
    font-size: 15px;
    width: 370px;
    height: 90px;
  }

  .newest {
    width: 370px;
    height: 25%;
  }
  .newest__imagen2 img{
    width: 50px;
    height: 50px;
    align-self: flex-start;
  }

  .newest__titulo2 h2 {
    font-family: "Rubik";
    font-size: 22px;
    width: 350px;
    height: 30px;
  }
  .newest__parrafo2 {
    font-size: 15px;
    width: 370px;
    height: 150px;
  }
  .high {
    width: 370px;
    height: 25%;
  }
  .high__imagen3 img{
  }

  .high__titulo3 h2 {
    font-family: "Rubik";
    font-size: 22px;
    width: 370px;
    height: 50px;
  }
  .high__parrafo3 {
    font-size: 15px;
    width: 350px;
    height: 150px;
  }


  .fold2 {
    display: flex;
    background: url(../image/imagen_fold_inicio.jpg);
    flex-direction: column;
    background-attachment: contain;
    background-size: cover;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
    width: 100vw;
    height: 100vh;
  }
  .fold2__titulo2 {
    font-family: "Rubik";
    font-weight: 700;
    font-size: 48px;
  }
  .fold2__subtitulo h2{
    font-family: "Rubik";
    font-weight: 400;
    font-size: 22px;
  }
  .fold2__boton a{
    background-color: #ffb400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: large;
    width: 13rem;
    height: 3rem;
  }
  .experiencia {
    background-color: lightslategrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
  }
  .experiencia__valoraciones h2{
    width: 100vw;
    height: 15vh;
    font-size: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .valoraciones__titulo {
    text-align: center;
  }
  .experiencias {
    display: grid;
    background-color: lightslategrey;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    gap: 5%;
  }
  .experiencia__card1 {
    background-color: white;
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    

  }
  .experiencia__card1:hover {
    transform: scale(1.2,1.2);
  }
  .experiencia__card2:hover {
    transform: scale(1.2,1.2);
  }
  .experiencia__card3:hover {
    transform: scale(1.2,1.2);
  }
  .card1__imagen {
    font-size: 22px;
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card1__info {
    font-size: 22px;
    width: 20vw;
    height: 20vh;
    justify-content: center;

  }
  .card1__nombre {
    font-family: "Rubik", "bold";
    font-weight: 700;
    align-self: flex-start;
    font-size: 24px;
    margin-left: 10%;
  }

  .experiencia__card2 {
    background-color: white;
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .card2__imagen {
    font-size: 22px;
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card2__info {
    font-size: 22px;
    width: 20vw;
    height: 20vh;

  }
  .card2__nombre {
    font-family: "Rubik", "bold";
    font-weight: 700;
    align-self: flex-start;
    font-size: 24px;
    margin-left: 10%;

  }

  .experiencia__card3 {
    background-color: white;
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .card3__imagen {
    font-size: 22px;
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card3__info {
    font-size: 22px;
    width: 20vw;
    height: 20vh;

  }
  .card3__nombre {
    font-family: "Rubik", "bold";
    font-weight: 700;
    font-size: 24px;
    align-self: flex-start;
    margin-left: 10%;
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    height: 50vh;
  }
  .informacion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50vw;
    height: 60vh;

  }
  .footer__formulario {
    background-color: #ffb400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    width: 50vw;
    height: 60vh;
  }
  .formulario__titulo h2 {
    font-weight: 700;
    font-size: 36px;
    width: 50vw;
    height: 10vh;
  }
  .footer__formulario__caja{
    width: 50vw;
    height: 60vh;

  }
  .nombreMail {
    display: flex;
    width: 100vw;
    height: 10vh;
    flex-direction: row;
    justify-content: center;
  }
  .caja__nombre input {
    width: 20vw;
    height: 5vh;
  }
  .caja__email input {
    width: 47vw;
    height: 5vh;
  }
  .caja__comentario textarea {
    width: 90vw;
    height: 15vh;

  }
  .caja__boton input {
    color: black;
    background-color: white;
    border: 0;
    width: 30vw;
    height: 40px;
  }

  .footer__redes {
    background-color: black;
    width: 50vw;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .iconoDeRedes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 130px;
  }
  .iconoDeRedes_facebook a{
    width: 30px;
    height: 30px;

  }
  .iconoDeRedes_twitter a{
    width: 30px;
    height: 30px;
  }
  .iconoDeRedes_linkedin a{
    width: 30px;
    height: 30px;
  }
  .footer__info {
    background-color: grey;
    width: 50vw;
    height: 500px;
    display: flex;
    flex-direction: column;
  }
  .info__ubicacion {
    width: 450px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .datos {
    width: 40vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 15%;
  }
  .ubicacion__icono {

  }
  .ubicacion__direccion {

  }

  .info__telefono {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .telefono__icono {

  }
  .telefono__numero {

  }

  .info__correo {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .correo__icono {
  }
  .correo__direccion {
  }

  /* ------------PAGINA NOSOTROS INICIO--------------- */
  .fold__nosotros {
  }
  .fold__nosotros__imagen {
    display: inline-block;
    width: 100vw;
    height: 100vh;
  }
  .fold__nosotros__titulo {
    font-family: "Rubik";
    width: 500px;
    height: 220px;
    font-weight: 700;
    font-size: 45px;
    text-align: start;
    display: inline-block;
    top: 10%;
    left: 10%;
    position: absolute;
  }
  .fold__nosotros__subtitulo {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 20px;
    width: 650px;
    height: 65px;
    top: 50%;
    position: absolute;
    display: inline-block;
    left: 10%;
  }
  .fold__nosotros__boton a {
    background-color: #ffb400;
    color: white;
    font-size: medium;
    text-align: center;
    padding: 15px 90px 15px 90px;
    display: block;
    left: 10%;
    bottom: 30%;
    position: absolute;
  }
  fold
    parte
    amarilla----------------------------------------------
    .caracteristicas__only {
    background-color: #ffb400;
    position: absolute;
    width: 540px;
    height: 773px;
    top: 0;
    left: 0;
  }

  .caracteristicas__only__titulo {
    position: absolute;
    font-size: larger;
    width: 400px;
    height: 50px;
    text-align: center;
    top: 5%;
  }

  .only {
    position: absolute;
    display: block;
    width: 440px;
    height: 200px;
    top: 20%;
    left: 0;
    text-align: end;
  }
  .only__imagen1 {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin: 0;
  }
  .only__titulo1 {
    position: absolute;
    display: inline;
    top: 0;
    right: 12%;
    text-align: start;
  }
  .only__parrafo1 {
    position: absolute;
    display: inline;
    font-size: 15px;
    width: 370px;
    height: 30px;
    top: 45px;
    right: 0;
    text-align: start;
  }

  .the {
    position: relative;
    display: block;
    width: 480px;
    height: 200px;
    top: 42%;
    left: 0;
  }
  .the__imagen2 {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    padding: 0%;
    margin: 0;
  }

  .the__titulo2 h2 {
    position: absolute;
    display: inline;
    font-size: 22px;
    width: 440px;
    height: 30px;
    top: 0;
    left: 15%;
    text-align: start;
  }
  .the__parrafo2 {
    position: absolute;
    display: inline;
    font-size: 15px;
    width: 370px;
    height: 30px;
    top: 45px;
    left: 15%;
    text-align: start;
  }

  .quality {
    position: absolute;
    width: 440px;
    height: 200px;
    bottom: 5%;
    left: 0;
    display: block;
  }
  .quality__imagen3 {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    padding: 0%;
    margin: 0;
  }

  .quality__titulo3 h2 {
    position: absolute;
    display: inline;
    font-size: 18px;
    width: 440px;
    height: 30px;
    top: 0;
    right: 0;
    text-align: end;
  }
  .quality__parrafo3 {
    position: absolute;
    display: inline;
    font-size: 15px;
    width: 370px;
    height: 30px;
    top: 20%;
    right: 0;
    text-align: start;
  }

  .caracteristicas__banner {
  }
  .caracteristicas__banner__cajaAmarilla {
  }
  .cajaAmarilla__titulo {
  }
  .cajaAmarilla__subtitulo {
  }

  .caracteristicas__banner__cajaNegra {
  }
  .cajaNegra__titulo {
  }
  .cajaNegra__subtitulo {
  }

  .nosotros__historia {
    position: relative;
    width: 100%;
    height: 600px;
  }

  .nosotros__historia__asesoramiento {
    background-color: grey;
    position: absolute;
    width: 900px;
    height: 600px;
    top: 0;
    right: 0;
  }
  .nosotros__historia__titulo {
    position: absolute;
    text-align: center;
    display: inline;
    font-size: 22px;
    top: 15%;
    left: 33%;
  }
  .nosotros__historia__parrafo1 {
    position: absolute;
    display: inline;
    width: 550px;
    height: 216;
    top: 35%;
    right: 5%;
  }
  .nosotros__historia__parrafo2 {
    position: absolute;
    bottom: 0;
    width: 550px;
    height: 216;
    top: 35%;
    left: 10%;
  }

  .caracteristicas {
    position: relative;
    width: 1440px;
    height: 1050px;
  }
  .caracteristicas__imagen {
    position: absolute;
    top: 0;
    right: 0;
  }
  .caracteristicas__only {
    background-color: grey;
    position: absolute;
    width: 520px;
    height: 730px;
    top: 0;
    left: 0;
    margin: 0;
  }

  .caracteristicas__banner {

  }

  .caracteristicas__banner {

  }
  .caracteristicas__banner__cajaAmarilla {

  }
  .cajaAmarilla__titulo {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 22%;
  }
  .cajaAmarilla__subtitulo {
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 15%;
  }

  .caracteristicas__banner__cajaNegra {

  }
  .cajaNegra__titulo {

  }
  .cajaNegra__subtitulo {

  }

  /* ------------PAGINA NOSOTROS FINAL--------------- */

  /* ------------PAGINA SERVICIOS INICIO--------------- */

  .mainServicios {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


  }

  .bloqueFoldServicios {
    width: 70vw;
    height: 100vh;

  }
  .bloqueWhat{
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .serviciosYeso {}
  .serviciosYeso__imagen{}
  .serviciosdataYeso{}
  .serviciosYeso__info {}

  .serviciosMant{}
  .serviciosMant__imagen{}
  .serviciosMantdata{}
  .serviciosMant__titulo{}
  .serviciosMant__info{}

  .serviciosDemo{}
  .serviciosDemo__imagen{}
  .serviciosDemodata{}
  .serviciosDemo__titulo{}
  .serviciosDemo__info{}

  .foldServicios {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(../image/imagen_fold_inicio3.jpg);
  }

  .servicios__titulo {
    font-family: "Rubik";
    width: 500px;
    height: 220px;
    font-weight: 700;
    font-size: 45px;

  }
  .servicios__subtitulo {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 20px;
    width: 40vw;
    height: 10vh;

  }
  .servicios__boton a {
    background-color: #ffb400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: large;
    width: 15rem;
    height: 3rem;
  }

  .cardWhat {
    width: 300px;
    height: 500px;

  }
  .what {
    color: #ffb400;
    font-size: large;
  }

  .serviciosYeso {
    width: 345px;
    height: 101px;
  }


    /* ------------PAGINA SERVICIOS FINAL--------------- */

    /* ------------PAGINA PROYECTOS INICIO--------------- */

    .principalProyectos{
      background-image: url(/image/);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100vw;
      height: 80vh;
}
    .foldProyectos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background: url(../image/imagen_fold_inicio3.jpg);
      background-size: cover;
      width: 100vw;
      height: 80vh;
    }


    /* ------------PAGINA CONTACTO INICIO--------------- */


    .principalContacto {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100vw;
      height: 80vh;
    }

    .foldContacto {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: url(../image/imagen_fold_inicio3.jpg);
      background-size: cover;
      padding-bottom: 30px;
      width: 100vw;
      height: 80vh;
  }

  .tituloFoldContacto {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-family: "Rubik";
    font-weight: 700;
    font-size: 44px;
    color: white;
    margin-left: 10%;

  }
  .foldContactoSubtitulo p{
    width: 50vw;
    height: 5vh;
    margin-left: 5%;


  }
  .botonContacto {
    width: 100vw;
    height: 3vh;
    margin-left: 10%;
  }
  .botonContacto a {
    background-color: #ffb400;
    color: white;
    width: 100vw;
    height: 5vh;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px 15px 20px;
    align-self: flex-start;
  }
  .fold__info {
    background-color: #ffb400;
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .fold__info__contacto {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .tituloInfo {
    width: 40vw;
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    font-family: "Rubik";
    font-weight: 700;
    font-size: 24px;
    color: black;
    margin-left: 10%;

  }
  .datosContacto {
    width: 40vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 15%;
  }

  .info__ubicacion__contacto {
    width: 450px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .ubicacion__icono__contacto {

  }
  .ubicacion__direccion__contacto {

  }

  .info__telefono__contacto {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .telefono__icono__contacto {

  }
  .telefono__numero__contacto {

  }

  .info__correo__contacto {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .correo__icono__contacto {
  }
  .correo__direccion__contacto {
  }


  .mapaGoogle {
    width: 100vw;
    height: 70vh;
    border-color: black;
    border-width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .preguntas {
width: 100vw;
height: 80vh;
display: flex;
flex-direction: row;
background-color: #dad6d6;
  }
  .preguntasBloque{
    width: 50vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10%;
    margin-top: 2%;
  }
  .pregunta1 summary {
   font-weight: 700;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 45vw;
   height: 6vh;
   background-color: white;
   border: 5px;
   border-color: black;
  }
  .pregunta2 summary{
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45vw;
    height: 6vh;
    background-color: white;
    border: 5px;
    border-color: black;
  }
  .pregunta3 summary{
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45vw;
    height: 6vh;
    background-color: white;
    border: 5px;
    border-color: black;
  }
  .pregunta4 summary{
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45vw;
    height: 6vh;
    background-color: white;
    border: 5px;
    border-color: black;
  }
  .pregunta5 summary{
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45vw;
    height: 6vh;
    background-color: white;
    border: 5px;
    border-color: black;

  }


  .tituloPreguntas{}
  .respuestas{}
  .imagenPreguntas{}


  .bloqueImagen{
    width: 50vw;
    background: url(../image/preguntasimg.svg);
    background-size: cover;
  }

  /* ------------PAGINA CONTACTO FINAL--------------- */


 }


    /* ------------PAGINA PROYECTOS FINAL--------------- */

    /* ------------PAGINA CONTACTO INICIO--------------- */


    .principalContacto {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100vw;
      height: 60vh;
    }

    .foldContacto {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: url(../image/imagen_fold_inicio3.jpg);
      background-size: cover;
      width: 100vw;
      height: 100vh;
  }
  .contactanos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
  }
  .tituloFoldContacto {
    width: 100vw;
    height: 40vh;
    font-family: "Rubik";
    font-weight: 700;
    font-size: 2rem;
    color: white;
    width: 100vw;
    height: 10vh;


  }
  .foldContactoSubtitulo {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 20px;
    width: 100vw;
    height: 20vh;
  }
  .botonContacto a{
    width: 10vw;
    height: 60px;
  }
  .botonContacto a{
    width: 150px;
    height: 40px;
    border: 15px;
    background-color:#ffb400;
    border-color: #ffb400;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 4px 20px;
  }
  .fold__info {
    background-color: #ffb400;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .fold__info__contacto {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .tituloInfo {
    width: 40vw;
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    font-family: "Rubik";
    font-weight: 700;
    font-size: 24px;
    color: black;
    margin-left: 10%;

  }
  .datosContacto {
    width: 40vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 15%;
  }

  .info__ubicacion__contacto {
    width: 450px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .ubicacion__icono__contacto {

  }
  .ubicacion__direccion__contacto {

  }

  .info__telefono__contacto {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .telefono__icono__contacto {

  }
  .telefono__numero__contacto {

  }

  .info__correo__contacto {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .correo__icono__contacto {
  }
  .correo__direccion__contacto {
  }


  .mapaGoogle {
    width: 100vw;
    height: 70vh;
    border-color: black;
    border-width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .preguntas {
width: 100vw;
height: 80vh;
display: flex;
flex-direction: row;
background-color: #dad6d6;
  }
  .preguntasBloque{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5%;
    margin-top: 2%;
  }
  .pregunta1 summary {
   font-weight: 700;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 90vw;
   height: 6vh;
   background-color: white;
   border: 5px;
   border-color: black;
  }
  .pregunta2 summary{
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
    height: 6vh;
    background-color: white;
    border: 5px;
    border-color: black;
  }
  .pregunta3 summary{
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
    height: 6vh;
    background-color: white;
    border: 5px;
    border-color: black;
  }
  .pregunta4 summary{
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
    height: 6vh;
    background-color: white;
    border: 5px;
    border-color: black;
  }
  .pregunta5 summary{
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 6vh;
    background-color: white;
    border: 5px;
    border-color: black;

  }


  .tituloPreguntas{}
  .respuestas{}
  .imagenPreguntas{}


  .bloqueImagen{
    width: 50vw;
    background: url(../image/preguntasimg.svg);
    background-size: cover;
  }

  /* ------------PAGINA CONTACTO FINAL--------------- */

