/*---------------- Inicio de sección Fold Contacto---------------- */

.principal__contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 80vh;
}
.principal__contacto__fold {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background: url(../image/fold__contacto.webp);
  background-attachment: contain;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin-top: 7vh;
  @media screen and (min-width: 992px) {
    width: 100vw;
    height: 80vh;
    background: url(../image/fold__contacto.webp);
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
  }
  .principal__contacto__fold__titulo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: $titulo-fuente;
    color: $color-secundario;
    width: 90vw;
    height: 20vh;
    font-weight: 700;
    font-size: 45px;
    margin-left: 2%;
    @media screen and (min-width: 992px) {
      display: flex;
      font-family: $titulo-fuente;
      color: $color-secundario;
      width: 60vw;
      height: 30vh;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: 700;
      font-size: 60px;
      margin-left: 2%;
    }
  }
  .principal__contacto__fold__subtitulo {
    color: $color-secundario;
    margin-left: 2%;
    width: 90vw;
    height: 20vh;
    font-size: 22px;
    font-weight: 400;
    @media screen and (min-width: 992px) {
      font-family: $subtitulo-fuente;
      color: $color-secundario;
      font-weight: 400;
      font-size: 18px;
      width: 60vw;
      height: 20vh;
      margin-left: 2%;
    }
  }
  .principal__contacto__fold__boton {
    background-color: $color-primario;
    color: $color-secundario;
    width: 60vw;
    height: 6vh;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-left: 2%;
    margin-bottom: 10%;
    @media screen and (min-width: 992px) {
      width: 20vw;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-start;
      margin-left: 2%;
    }
  }
}

/*---------------- Final de sección Fold Contacto---------------- */

/*---------------- Inicio de sección Mapa---------------- */

.mapa__google {
  width: 100vw;
  height: 70vh;
  border-color: $color-oscuro;
  border-width: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*---------------- Final de sección Mapa---------------- */

/*---------------- Inicio de sección Preguntas---------------- */

.preguntas {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @media screen and (min-width: 992px) {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .preguntas__imagen {
    width: 50vw;
    background: url(../image/preguntasimg.svg);
    background-size: cover;
    display: none;
    @media screen and (min-width: 992px) {
      width: 50vw;
      height: 100vh;
      display: flex;
    }
  }
}

.preguntas__bloque {
  width: 100vw;
  height: 100vh;
  background-color: #eee7e7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2%;
  @media screen and (min-width: 992px) {
    width: 50vw;
    height: 90vh;
    margin-top: 0;
  }
  .preguntas__bloque__titulo {
    font-family: $titulo-fuente;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: $color-secundario;
    font-size: 25px;
    font-weight: 700;
    @media screen and (min-width: 992px) {
      font-family: $titulo-fuente;
      width: 50vw;
      height: 15vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-secundario;
      font-size: 25px;
      font-weight: 700;
      padding: 5%;
    }
  }
  .accordion-button {
    width: 100vw;
    height: 10vh;
    @media screen and (min-width: 992px) {
      width: 50vw;
      height: 11vh;
    }
  }
}

/*---------------- Final de sección Preguntas---------------- */
