@mixin infogris {
    @media screen and (min-width: 992px){
      width: 70vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .asesoramiento__titulo {
      @media screen and (min-width: 992px) {
        font-family: $texto-fuente;
        font-weight: 700;
        font-size: 30px;
        width: 60vw;
        height: 10vh;
      }
      font-family: $texto-fuente;
      font-weight: 700;
      font-size: 30px;
      padding: 5%;
      width: 60vw;
      height: 10vh;
    }
  }
    .informacionHome__asesoramiento {
      width: 70vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
      @mixin parrafos {
        @media screen and (min-width: 992px){
          width: 60vw;
          height: 40vh;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          height: 65vh;
          width: 100vw; }
          @mixin parrafo1 {
            @media screen and (min-width: 992px){
              display: flex;
              padding: 0;
              margin: 0;
              width: 50vw;
              height: 40vh;
              font-family: $texto-fuente;
              font-size: 20px;
              font-weight: 400;
            }
            width: 95vw;
            height: 30vh;
            font-family: $texto-fuente;
            font-weight: 400;
            font-size: larger;
            text-align: center;
            flex-direction: row;
            justify-content: center;
            align-items: center; } 
          @mixin parrafo2 {
            @media screen and (min-width: 992px){
              display: flex;
              width: 50vw;
              height: 40vh;
              font-family: $texto-fuente;
              font-size: 20px;
              font-weight: 400;
              padding: 0;
              margin: 0;
            }
            width: 95vw;
            height: 30vh;
            font-family: $texto-fuente;
            font-size: larger;
            font-weight: 400;
            text-align: center;
            flex-direction: row;
            justify-content: center;
            align-items: center; }
            @mixin banner {
                @media screen and (min-width: 992px){
                  background-color: $color-oscuro;
                  width: 70vw;
                  height: 20vh;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-around;
                  align-items: center;
                  align-content: center;
                }
                background-color: $color-oscuro;
                width: 100vw;
                height: 25vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center; }
                @mixin titulo2 {
                  @media screen and (min-width: 992px){
                    color: $color-secundario;
                    width: 500px;
                    height: 70px;
                    font-size: 22px;
                    font-weight: 700;
                    margin-top: 5%;
                  }
                  color: $color-secundario;
                  text-align: center;
                  width: 100vw;
                  height: 100px;
                  font-family: $texto-fuente;
                  font-weight: 700;
                  font-size: 25px;
                  padding: 5%;
                  margin-top: 10%; 
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-bottom: 5%;}
                  @mixin boton2 {
                    @media screen and (min-width: 992px){
                      background-color: $color-secundario;
                      color: $color-oscuro;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      padding: 7px 25px;
                      margin-top: 5%;
                    }
                    background-color: $color-secundario;
                    color: $color-oscuro;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 7px 25px;
                    margin-bottom: 5%;}


                    .informacionHome__amarillo {
                        @media screen and (min-width: 992px){
                          background-color: $color-primario;
                          width: 30vw;
                          height: 100vh;
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                          justify-content: space-around;
                        }
                          background-color: $color-primario;
                          width: 100vw;
                          height: 100vh;
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                          justify-content: flex-start; }
                        
                        .eco {
                          @media screen and (min-width: 992px){
                            width: 400px;
                            height: 33%;
                            padding-left: 3%;
                          }
                          width: 100vw;
                          height: 25vh;
                          margin-top: 10%;
                          padding-left: 3%;
                          flex-direction: column;
                          align-items: flex-start;
                          justify-content: center; }
                        
                        .eco__imagen1 {
                          @media screen and (min-width: 992px){
                            width: 50px;
                            height: 50px;
                            align-self: flex-start;
                          }
                          width: 50px;
                          height: 50px;
                          align-self: flex-start; }
                        
                        .eco__titulo1 {
                          @media screen and (min-width: 992px){
                            font-family: $titulo-fuente;
                            font-size: 22px;
                            font-weight: 700;
                          }
                          font-family: $titulo-fuente;
                          font-size: large;
                          font-size: 22px;
                          font-weight: 700; }
                        
                        .eco__parrafo1 {
                          @media screen and (min-width: 992px){
                            font-size: 15px;
                            width: 370px;
                            height: 90px;
                          }
                          font-size: 15px;
                          width: 370px;
                          height: 20vh; }