$titulo-fuente: "Rubik";
$subtitulo-fuente: "Open Sans";
$texto-fuente: "Rubik";
$link-fuente: "Poppins";
$color-primario:#ffb400;
$color-secundario:white;
$color-oscuro:black;

@mixin titulo {
    @media screen and (min-width: 992px){
      display: inline-flex;
      width: 95vw;
      font-family: $titulo-fuente;
      font-weight: 700;
      font-size: 64px;
      margin-top: 10%;
    }
    font-family: $titulo-fuente;
    font-weight: 700;
    font-size: 36px;
    width: 100vw;
    height: 20vh;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }

@mixin subtitulo {
  @media screen and (min-width: 992px){
    font-family: $subtitulo-fuente;
    font-weight: 400;
    font-size: 20px;
    width: 80vw;
    height: 15vh;
    margin-top: 0;
  }
  font-family: $subtitulo-fuente;
  font-weight: 400;
  font-style: up;
  font-size: larger;
  width: 100vw;
  height: 10vh;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
}
@mixin texto {}
@mixin boton1 {
  @media screen and (min-width: 992px){
    background-color: #ffb400;
    display: flex;}
  border: 15px;
  font-size: large;
  background-color: $color-primario;
  border-color: $color-primario;
  font-family: $texto-fuente;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  margin-top: 5%;
}
@mixin caja {
    width: 90vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    background-color: white; 
    box-shadow: 10px 10px 5px grey;
}

@mixin boton {
  border: 15px;
  font-size: large;
  background-color: $color-primario;
  border-color: $color-primario;
  font-family: $texto-fuente;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px; 
}
* {
    box-sizing: border-box;
  }
  header {
    width: 100vw;
    height: 60vh;
  }
  html {
      overflow-x: hidden;
      font-family: "Poppins", "Open Sans", "Rubik";
    }
    body {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      background-color: darkgrey;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
      p {
        margin: 0;
      }
    }
    a {
      text-decoration: none;
      color: black;
      margin-top: 0;
      @media screen and (min-width: 992px) {
      background-color: $color-primario;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      font-size: large;}
    }