.main__header {
    background-color: white;
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    color: black;
    width: 100vw;
    height: 10vh;
    
    .container-fluid {
      margin-left: 0;
    }
    nav {
        width: 100vw;
        height: 10vh;
    }
    navbar {
      background-color: white;
      margin-top: 5%;
      margin-left: 0;
      border: 5px;
    }
    ul {
      margin-top: 10%;
      background-color: white;
      li {
        background-color: white;
        font-family: $subtitulo-fuente;
        font-size: 20px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1%;      }
    }
  }

  .logo {
    background-image: url(../image/logoHeader.jpg);
    border-radius: 15px 15px;
    width: 135px;
    height: 38px;
    display: inline-flex;
    margin-left: 1%; }

@media screen and (min-width: 992px) {
        .main__header {
            background-color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            color: black;
            width: 100vw;
            height: 7vh;
            .container-fluid {
                width: 100vw;
                height: 5vh;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            nav {
              background-color: white;
              width: 70vw;
              height: 5vh;
              margin-right: 15%;
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              align-items: center;
              ul {
                width: 70vw;
                height: 5vh;
                margin: 0;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                li {
                  background-color: white;
                  font-family: "Poppins";
                  font-weight: 700;
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  width: 6vw;
                  height: 5vh;
                  margin-left: 5%;
                  a {
                    background-color: white;
                    margin-right: 5px;
                    width: 6vw;
                    height: 5vh;
                    font-family: "Poppins";
                    font-weight: 700;
                    display: inline-flex;
    
                  }
                }
            }
    
            }
            .logo {
              background-image: url(../image/logoHeader.webp);
              border-radius: 15px 15px;
              width: 135px;
              height: 40px;
              display: inline-flex;
              margin-left: 10%;
            }
          }
    }