.principal {
  @media screen and (min-width: 992px){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
  }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 80vh;
    .fold {
      @media screen and (min-width: 992px){
        display: flex;
        background: url(../image/imagen_fold_inicio3.webp);
        flex-direction: column;
        background-attachment: contain;
        background-size: cover;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-bottom: 30px;
        width: 100vw;
        height: 100vh;
        margin-top: 7vh;
      }
      display: flex;
      background: url(../image/imagen_fold_inicio3.jpg);
      flex-direction: column;
      background-size: cover;
      align-items: center;
      padding-bottom: 5vh;
      width: 100vw;
      height: 80vh; 
      margin-top: 10vh;
    }
   .fold__titulo {
    @include titulo;
   }
        .fold__subtitulo {
          @media screen and (min-width: 992px){
            font-family: "Rubik";
            font-weight: 400;
            font-size: 20px;
            width: 80vw;
            height: 15vh;
          }
          font-family: $subtitulo-fuente;
          font-weight: 400;
          font-style: up;
          font-size: larger;
          width: 100vw;
          height: 10vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center; }
          .fold__boton {
            @media screen and (min-width: 992px){
              background-color: #ffb400;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              font-size: large;
              width: 13rem;
              height: 3rem;
            }
            border: 15px;
            font-size: large;
            background-color: #ffb400;
            border-color: #ffb400;
            font-family: "Rubik";
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 30px; }
          } 
  .serviciosHome {
    @media screen and (min-width: 992px){
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 3%;
      align-items: center;
      justify-items: center;
      width: 100vw;
      height: 120vh;
      padding-bottom: 5%;
      padding-top: 5%;
      background-color: rgb(249, 244, 244);
      color: black;
    }
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 240vh;
    background-color: #beb9b9;
    color: black;  
    img {
      @media screen and (min-width: 992px){
        width: 10vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      width: 20vw;
      height: 8vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .serviciosdata {
      @media screen and (min-width: 992px){
        margin: 0;
        width: 350px;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      width: 80vw;
      height: 40vh;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
      h2 {
        @media screen and (min-width: 992px){
        }
        font-size: 20px;
        font-weight: 700;
        width: 80vw;
        height: 5vh;
        font-family: $titulo-fuente;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
       }
       p {
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       }
      .obrasEnYeso__imagen {
          @media screen and (min-width: 992px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
          }
          width: 50px;
          height: 50px; }
        } }
  .serviciosHome__obrasEnYeso {
    @media screen and (min-width: 992px){          
      width: 400px;
      height: 250px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      background-color: white;
      box-shadow: 10px 10px 5px grey;}
    @include caja;
}
.informacionHome {
  @media screen and (min-width: 992px){
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row-reverse;
  }
  display: flex;
  flex-direction: column;}
  .informacionHomeGris{
    @include infogris;
    background-color: grey;
  }
  .asesoramiento__titulo{
    @include titulo;
    color: black;

  }
  .parrafos{
    @include parrafos;
  }
  .asesoramiento__parrafo1{
    @include parrafo1;
  }
  .asesoramiento__parrafo2{
    @include parrafo2;
  }
  .informacionHome__banner{
    @include banner;
  }
  .banner__titulo{
    @include titulo2;
  }
  .banner__boton {
    @include boton2;
  }


  

  .fold2 {
    @media screen and (min-width: 992px){
      display: flex;
      background: url(../image/imagen_fold_inicio.webp);
      flex-direction: column;
      background-attachment: contain;
      background-size: cover;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding-bottom: 30px;
      width: 100vw;
      height: 80vh;
      
    }
    display: flex;
    background: url(../image/imagen_fold_inicio.jpg);
    flex-direction: column;
    background-attachment: contain;
    background-size: cover;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
    width: 100vw;
    height: 50vh; }
  
    .fold__titulo2 {
@include titulo;
    }
    .fold2__subtitulo {
@include subtitulo;
    }
    .fold2__boton {
      @include boton1;
    }
  .experiencia {
    @media screen and (min-width: 992px){
      background-color: $color-fondo;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100vw;
      height: 100vh;
    }
    background-color: $color-fondo;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 110vh; }
  
  .experiencia__valoraciones {
    @media screen and (min-width: 992px){
      width: 100vw;
      height: 110vh;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
    background-color: $color-fondo;
    width: 100vw;
    height: 150vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center; }
  
  .valoraciones__titulo {
    @media screen and (min-width: 992px){
      display: inline-flex;
      font-family: $titulo-fuente;
      text-align: center;
      justify-content: center;
      font-size: 36px;
      font-weight: 700;
      width: 80vw;
      height: 10vh;
      margin-top: 5%;
    }
    background-color: $color-fondo;
    width: 100vw;
    font-family: $titulo-fuente;
    height: 10vh;
    text-align: center;
    margin-top: 15%; }
  
  .experiencias {
    @media screen and (min-width: 992px){
      display: grid;
      background-color: $color-fondo;
      width: 100vw;
      height: 100vh;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      gap: 3%;

    }
    display: grid;
    justify-items: center;
    background-color: $color-fondo;
    width: 100vw;
    height: 150vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: center;
    gap: 4%;
    padding-bottom: 5%; }
    .experiencia__card3:hover {
      transform: scale(1.2, 1.2);
      box-shadow: none;
    }

  .experiencia__card3 {
    @media screen and (min-width: 992px){
      background-color: $color-secundario;
      width: 25vw;
      height: 50vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      box-shadow: 10px 10px 5px #535151;
    }
    background-color: $color-secundario;
    width: 90vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 10px 10px 5px #535151;
   }
  
  .card3__imagen {
    @media screen and (min-width: 992px){
      width: 10vw;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    width: 30vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%; }
  
  .card3__info {
    @media screen and (min-width: 992px){
      font-size: 16px;
      font-family: $texto-fuente;
      font-weight: 400;
      width: 20vw;
      height: 20vh;
    }
    font-family: $texto-fuente;
    width: 30vw;
    height: 10vh;
    font-weight: 400;
    font-size: 16px;
    width: 80vw;
    height: 20vh;
    margin-left: 5%; }
  
  .card3__nombre {
    @media screen and (min-width: 992px){
      font-family: $titulo-fuente;
      font-weight: 700;
      font-size: 24px;
      width: 30vw;
      height: 10vh;
      align-self: flex-start;
      margin-left: 10%;
      margin-top: 0;
    }
    font-family: $titulo-fuente;
    font-weight: 700;
    width: 30vw;
    height: 10vh;
    align-self: flex-start;
    font-size: 20px;
    margin-top: 35px;
    margin-left: 5%;}
  