/* ------------PAGINA PROYECTOS INICIO--------------- */

.principalProyectos {
    background-image: url(./image/image/fold_proyectos.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 80vh;
  }
  .foldProyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url(../image/imagen_fold_inicio3.jpg);
    background-size: cover;
    width: 100vw;
    height: 80vh;
  }
  
  
  /* ------------PAGINA PROYECTOS FINAL MOBILE--------------- */


/* ------------PAGINA PROYECTOS INICIO--------------- */
@media screen and (min-width: 992px){
  .tituloBarrios {
    width: 100vw;
    height: 5vh;
    font-family: "Rubik";
    font-size: 35px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
  .cajatitulo {
    background-color: antiquewhite;
    width: 97vw;
    height: 15vh;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}
    /* ------------PAGINA PROYECTOS FIN--------------- */
