.foldServicios {
  @media screen and (min-width: 992px){
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url(../image/imagen_fold_servicios.jpg);
    background-attachment: contain;
    background-size: cover;
  }
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(../image/image/imagen_fold_servicios.jpg);
    margin-top: 7vh;
  }
  .foldservicios__titulo {
    @include titulo;
    @media screen and (min-width: 992px){
      align-content: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 2%;
    }
    font-family: "Rubik";
    color: white;
    width: 80vw;
    height: 20vh;
    font-weight: 700;
    font-size: 45px;
  }
  .foldservicios__subtitulo {
    @include subtitulo;
    @media screen and (min-width: 992px){
      align-content: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 2%;
      color: white;
      
    }

    color: white;

  }
  .foldservicios__boton{
    @media screen and (min-width: 992px){
      margin-left: 2%;
      margin-bottom: 20%;
    }
    @include boton1;
  }
  .serviciosTarjetas {
    @media screen and (min-width: 992px){}
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 300vh;
  }
  .informacionHome__asesoramiento1 {
    @media screen and (min-width: 992px){}
    width: 100vw;
    background-color: #ffb400;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .asesoramientoServiciosTitulo{
    @media screen and (min-width: 992px){}
    font-size: 2rem;
    font-family: "Rubik";
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .parrafosservicios {
    @media screen and (min-width: 992px){}
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .informacionHome__asesoramiento2 {
    @media screen and (min-width: 992px){}
    background-color: cadetblue;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .informacionHome__asesoramiento3 {
    @media screen and (min-width: 992px){}
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
  }
  .proyectosfinalizados {
    @media screen and (min-width: 992px){}
    background-color: lightslategrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 200vh;
    align-items: center;
  }
  .proyectosEncurso{
    @media screen and (min-width: 992px){}
    width: 100vw;
    height: 200vh;
    font-size: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .proyectosEncurso__titulo {
    @media screen and (min-width: 992px){}
    text-align: center;
  }
  .enCurso {
    @media screen and (min-width: 992px){}
    display: grid;
    background-color: lightslategrey;
    width: 90vw;
    height: 200vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: center;
    gap: 5%;
  }
  .enCurso__tarjeta1 {
    @media screen and (min-width: 992px){}
    background-color: white;
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .enCurso__tarjeta1:hover {
    transform: scale(1.2, 1.2);
  }
  .tarjeta1__imagen {
    @media screen and (min-width: 992px){}
    width: 90vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tarjeta1__info {
    @media screen and (min-width: 992px){}
    font-family: "Rubik";
    font-size: 22px;
    width: 70vw;
    height: 20vh;
  }
  .tarjeta1__nombre {
    @media screen and (min-width: 992px){}
    font-family: "Rubik", "bold";
    font-weight: 700;
    align-self: flex-start;
    font-size: 24px;
    margin-left: 10%;
  }

@media screen and (min-width: 992px){
       /* ------------PAGINA SERVICIOS INICIO--------------- */

      .foldServicios {

      }
      .servicios__titulo {

      }
      .servicios__subtitulo {
        font-family: "Rubik";
        font-weight: 400;
        font-size: 20px;
        width: 40vw;
        height: 10vh;
      }
      .servicios__boton{
        background-color: #ffb400;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: large;
        width: 15rem;
        height: 3rem;
      }
    

      .serviciosTarjetas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 200vh;
      }
      .informacionHome__asesoramiento1 {
        width: 70vw;
        background-color: #ffb400;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-left: 28%;
      }
      
      .asesoramientoServiciosTitulo{
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .parrafosservicios {
        width: 70vw;
        height: 40vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }
      .informacionHome__asesoramiento2 {
        background-color: cadetblue;
        width: 70vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-right: 28%;
      }
      
      .asesoramiento__titulo h2 {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .informacionHome__asesoramiento3 {
        background-color: aliceblue;
        width: 70vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-left: 28%;
      }
      
      .asesoramiento__titulo h2 {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .asesoramiento__servicios__parrafo1 {
        width: 35vw;
        height: 40vh;
        font-family: $subtitulo-fuente;
        font-size: 20px;
        font-weight: 400;
      }
      .asesoramiento__servicios__parrafo2 {
        width: 35vw;
        height: 40vh;
        font-family: $subtitulo-fuente;
        font-weight: 400;
        font-size: 20px;
      }
      
      .equipo__trabajo {
        background-color: lightslategrey;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        height: 100vh;
      }
      .proyectosEncurso{
        width: 100vw;
        height: 15vh;
        font-size: 1rem;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
      }
      .proyectosEncurso__titulo {
        font-family: "Rubik";
        text-align: center;
        width: 80vw;
        height: 20vh;
      }
      .enCurso {
        display: grid;
        background-color: lightslategrey;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-content: center;
        gap: 5%;
        margin-bottom: 5%;
      }
      .enCurso__tarjeta1 {
        background-color: white;
        width: 30vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 10%;

      }
      .enCurso__tarjeta1:hover {
        transform: scale(1.2, 1.2);
      }
      .tarjeta1__imagen {
        width: 25vw;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .tarjeta1__info {
        font-size: 22px;
        width: 20vw;
        height: 20vh;
        justify-content: center;
      }
      .tarjeta1__nombre {
        font-family: "Rubik", "bold";
        font-weight: 700;
        align-self: flex-start;
        font-size: 24px;
        margin-left: 10%;
      }
      
      /* ------------PAGINA SERVICIOS FIN--------------- */
}